In [11]:
automobile_p = 'Automobile.csv'

In [12]:
import pandas as pd

In [13]:
automobile = pd.read_csv(automobile_p, sep='#', decimal='.', header=None, names=['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'])

In [14]:
automobile.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [15]:
automobile.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [16]:
automobile.column()

AttributeError: 'DataFrame' object has no attribute 'column'

In [17]:
automobile.columns

Index([u'symboling', u'normalized-losses', u'make', u'fuel-type',
       u'aspiration', u'num-of-doors', u'body-style', u'drive-wheels',
       u'engine-location', u'wheel-base', u'length', u'width', u'height',
       u'curb-weight', u'engine-type', u'num-of-cylinders', u'engine-size',
       u'fuel-system', u'bore', u'stroke', u'compression-ratio', u'horsepower',
       u'peak-rpm', u'city-mpg', u'highway-mpg', u'price'],
      dtype='object')

In [73]:
a = automobile['symboling']

In [74]:
b = automobile['normalized-losses']

In [75]:
c = automobile['make']

In [76]:
d = automobile['fuel-type']

In [77]:
e = automobile['aspiration']

In [78]:
f = automobile['num-of-doors']

In [79]:
g = automobile['body-style']

In [80]:
h = automobile['drive-wheels']

In [81]:
i = automobile['engine-location']

In [82]:
j = automobile['wheel-base']

In [83]:
k = automobile['length']

In [84]:
l = automobile['width']

In [85]:
m = automobile['height']

In [86]:
n = automobile['curb-weight']

In [87]:
o = automobile['engine-type']

In [88]:
p = automobile['num-of-cylinders']

In [89]:
q = automobile['engine-size']

In [90]:
r = automobile['fuel-system']

In [91]:
s = automobile['bore']

In [92]:
t = automobile['stroke']

In [93]:
u = automobile['compression-ratio']

In [94]:
v = automobile['horsepower']

In [95]:
w = automobile['peak-rpm']

In [96]:
x = automobile['city-mpg']

In [97]:
y = automobile['highway-mpg']

In [98]:
z = automobile['price']

In [99]:
a.value_counts()

 0    67
 1    54
-1    52
 2    32
 3    27
 4     3
-2     3
Name: symboling, dtype: int64

In [100]:
a.head

<bound method Series.head of 0      3
1      3
2      1
3      2
4      2
5      2
6      1
7      1
8      1
9      0
10     2
11     0
12     0
13     0
14     1
15     0
16     0
17     0
18     2
19     1
20     0
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28    -1
29     3
      ..
208   -1
209   -1
210   -1
211   -1
212   -1
213   -1
214   -1
215   -1
216   -1
217   -1
218    4
219   -1
220   -1
221   -1
222   -1
223   -1
224   -1
225   -1
226   -1
227   -1
228   -1
229   -1
230   -1
231    4
232   -1
233   -1
234   -1
235   -1
236   -1
237   -1
Name: symboling, Length: 238, dtype: int64>

In [101]:
a.head()

0    3
1    3
2    1
3    2
4    2
Name: symboling, dtype: int64

In [102]:
a.value_counts()

 0    67
 1    54
-1    52
 2    32
 3    27
 4     3
-2     3
Name: symboling, dtype: int64

In [103]:
b.value_counts()

95.0     27
161.0    11
91.0      8
150.0     7
74.0      7
104.0     6
134.0     6
128.0     6
94.0      5
103.0     5
65.0      5
85.0      5
168.0     5
102.0     5
122.0     4
118.0     4
148.0     4
93.0      4
106.0     4
125.0     3
115.0     3
25.0      3
101.0     3
137.0     3
83.0      3
154.0     3
145.0     2
113.0     2
110.0     2
81.0      2
188.0     2
192.0     2
158.0     2
153.0     2
129.0     2
194.0     2
197.0     2
87.0      2
119.0     2
89.0      2
108.0     2
164.0     2
231.0     1
78.0      1
186.0     1
107.0     1
77.0      1
98.0      1
121.0     1
142.0     1
90.0      1
256.0     1
Name: normalized-losses, dtype: int64

In [104]:
c.value_counts()

toyota           32
volvo            29
mazda            17
nissan           17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
peugot           10
volvo             9
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
alfa-romero       3
chevrolet         3
vol00112ov        3
 volvo            3
jaguar            3
renault           2
Peugot            1
Nissan            1
mercury           1
Name: make, dtype: int64

In [105]:
d.value_counts()

gas       207
diesel     27
Gas         2
Diesel      1
gas         1
Name: fuel-type, dtype: int64

In [106]:
e.value_counts()

std         175
turbo        57
turrrrbo      3
Std           2
std           1
Name: aspiration, dtype: int64

In [107]:
f.value_counts()

four     142
two       89
fourR      3
Four       1
four       1
Name: num-of-doors, dtype: int64

In [108]:
g.value_counts()

sedan          124
hatchback       70
wagon           26
hardtop          8
convertible      6
sedan            2
Sedan            1
Wagon            1
Name: body-style, dtype: int64

In [109]:
a.value_counts()

 0    67
 1    54
-1    52
 2    32
 3    27
 4     3
-2     3
Name: symboling, dtype: int64

In [110]:
b.value_counts()

95.0     27
161.0    11
91.0      8
150.0     7
74.0      7
104.0     6
134.0     6
128.0     6
94.0      5
103.0     5
65.0      5
85.0      5
168.0     5
102.0     5
122.0     4
118.0     4
148.0     4
93.0      4
106.0     4
125.0     3
115.0     3
25.0      3
101.0     3
137.0     3
83.0      3
154.0     3
145.0     2
113.0     2
110.0     2
81.0      2
188.0     2
192.0     2
158.0     2
153.0     2
129.0     2
194.0     2
197.0     2
87.0      2
119.0     2
89.0      2
108.0     2
164.0     2
231.0     1
78.0      1
186.0     1
107.0     1
77.0      1
98.0      1
121.0     1
142.0     1
90.0      1
256.0     1
Name: normalized-losses, dtype: int64

In [111]:
c.value_counts()

toyota           32
volvo            29
mazda            17
nissan           17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
peugot           10
volvo             9
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
alfa-romero       3
chevrolet         3
vol00112ov        3
 volvo            3
jaguar            3
renault           2
Peugot            1
Nissan            1
mercury           1
Name: make, dtype: int64

In [112]:
c.str.strip()

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
5             audi
6             audi
7             audi
8             audi
9             audi
10             bmw
11             bmw
12             bmw
13             bmw
14             bmw
15             bmw
16             bmw
17             bmw
18       chevrolet
19       chevrolet
20       chevrolet
21           dodge
22           dodge
23           dodge
24           dodge
25           dodge
26           dodge
27           dodge
28           dodge
29           dodge
          ...
208          volvo
209     vol00112ov
210          volvo
211          volvo
212          volvo
213          volvo
214          volvo
215          volvo
216          volvo
217          volvo
218          volvo
219          volvo
220          volvo
221          volvo
222     vol00112ov
223          volvo
224          volvo
225          volvo
226          volvo
227          volvo
228          volvo
229          volvo
230          volvo
231          volvo
232          volvo
233          volvo
234          volvo
235     vol00112ov
236          volvo
237          volvo
Name: make, Length: 238, dtype: object

In [113]:
c.value_counts()

toyota           32
volvo            29
mazda            17
nissan           17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
peugot           10
volvo             9
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
alfa-romero       3
chevrolet         3
vol00112ov        3
 volvo            3
jaguar            3
renault           2
Peugot            1
Nissan            1
mercury           1
Name: make, dtype: int64

In [114]:
a.value_counts()

 0    67
 1    54
-1    52
 2    32
 3    27
 4     3
-2     3
Name: symboling, dtype: int64

In [115]:
a.replace(4,-3,inplace=True)

In [116]:
a.value_counts()

 0    67
 1    54
-1    52
 2    32
 3    27
-3     3
-2     3
Name: symboling, dtype: int64

In [117]:
a.value_counts()

 0    67
 1    54
-1    52
 2    32
 3    27
-3     3
-2     3
Name: symboling, dtype: int64

In [118]:
b.value_counts()

95.0     27
161.0    11
91.0      8
150.0     7
74.0      7
104.0     6
134.0     6
128.0     6
94.0      5
103.0     5
65.0      5
85.0      5
168.0     5
102.0     5
122.0     4
118.0     4
148.0     4
93.0      4
106.0     4
125.0     3
115.0     3
25.0      3
101.0     3
137.0     3
83.0      3
154.0     3
145.0     2
113.0     2
110.0     2
81.0      2
188.0     2
192.0     2
158.0     2
153.0     2
129.0     2
194.0     2
197.0     2
87.0      2
119.0     2
89.0      2
108.0     2
164.0     2
231.0     1
78.0      1
186.0     1
107.0     1
77.0      1
98.0      1
121.0     1
142.0     1
90.0      1
256.0     1
Name: normalized-losses, dtype: int64